<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <style>
        body, #mainWrapper {
            height: 70%;
            background-color:rgb(245, 245, 245);
        }

        .generic-container {
            width:70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            background-color: #CFD8DC;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 0 0 5px black;
        }

        .floatRight{
            float:right;
            margin-right: 18px;
        }

        .custom-width {
            width: 80px !important;
        }

        .custom-padding{
            padding-left:30px;
            padding-right:100px;
        }

    </style>
</head>

<body ng-app="myApp">
<div class="generic-container" ng-controller="JokeController">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="h2">Secure Password Generator</span></div>
        <div class="panel-body">
            <div class="formcontainer">
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">

                    <!--<input type="hidden" ng-model="ctrl.user.id" />-->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-lable">Password Length</label>
                            <div class="col-md-4">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option disabled>Weak</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option disabled>Strong</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                    </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-lable" >Include Symbols</label>
                            <div class="col-md-7">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">( e.g. @#$% )</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-lable" >Include Numbers</label>
                            <div class="col-md-7">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                <label class="form-check-label" for="exampleCheck1">( e.g. 123456 )</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-lable" >Include Lowercase Characters</label>
                            <div class="col-md-7">
                                <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                <label class="form-check-label" for="exampleCheck1">( e.g. abcdef )</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-lable" >Include Uppercase Characters</label>
                            <div class="col-md-7">
                                <input type="checkbox" class="form-check-input" id="exampleCheck4">
                                <label class="form-check-label" for="exampleCheck1">( e.g. ABCDEF )</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-lable" for="genPass">Generated Password</label>
                            <div class="col-md-6">
                                <input type="text" id="genPass" class=" form-control input-sm" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" >Include Symbols</label>
                            <div class="col-md-7">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">( e.g. @#$% )</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" >Include Symbols</label>
                            <div class="col-md-7">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">( e.g. @#$% )</label>
                            </div>
                        </div>
                    </div>-->

                </form>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="text-center">
                    <button class="btn btn-info" ng-click="generatePassword()">Generate Password</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div th:fragment="body-bottom-scripts">
    <script src="assets/angular/angular.js"></script>
    <script src="assets/angular/angular-resource.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="app/main.js"></script>
    <!--<script src="app/service/jokeService.js"></script>-->
    <script src="app/controller/jokeController.js"></script>
</div>
</body>
</html>